.range-question {
  display: flex;
  flex-direction: column;
  align-items: center;

  .grades-container {
    display: flex;
    gap: 5px;

    .question-grade-block {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border: 1px solid black;
      border-radius: 5px;
      user-select: none;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
        transform: scale(1.05);
      }

      &:active {
        background: rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
      }

      &.selected {
        background: greenyellow;
      }
    }
  }

  .question-title {
    margin: 10px;
  }
}
